<h2>File upload</h2>


    @using (Html.BeginForm("Index", "Recordedbook", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <label>upload book: </label>
        <input type="file" name="file" id="file" />
        <br /><br />
        <input type="submit" value="Upload book" />
        <br /><br />
    }