
@{
    /**/

    ViewBag.Title = "Adminpages";
}

<h2>Adminpages</h2>

<a href="http://localhost:49380/Manage/TeachersList">Teachers list</a><br />
<a href="http://localhost:49380/Manage/StudentsList">Students list</a><br />
<a href="http://localhost:49380/Manage/ParentList">Parents list</a><br />
<a href="http://localhost:49380/VideoLibraries/Create">add videos</a><br />
<a href="http://localhost:49380/BooksRequests/Index">recorded books requsets</a><br />
<a href="http://localhost:49380/Recordedbook/Index">upload recorded books </a><br />




