@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tech studing</h1>
    <p class="lead">our website was built to help students with dyslexia, to make them improve there skills ,and imporve there levels, and more!!!!  </p>
    <p><a href="http://localhost:49380/Account/Register" class="btn btn-primary btn-lg">sign up with us!! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>responsive</h2>
       
    </div>
    <div class="col-md-4">
        <h2>effective</h2>
    </div>
    <div class="col-md-4">
        <h2>smooth</h2>
    </div>
</div>