
@{
    ViewBag.Title = "ParentPages";
}

<h2>ParentPages</h2>

<a href="http://localhost:49380/ADD_Comment/Index">notes about your son</a><br />
<a href="http://localhost:49380/Student_Gredes/Index">son's grades</a>