

@{
    ViewBag.Title = "StudentsPages";
}

<h2>StudentsPages</h2>

<p>
    <a href="http://localhost:49380/VideoLibraries/watchvideo">watch videos</a>
    <br />
    <a href="http://localhost:49380/BooksRequests/Create">Request for recorded books</a>
    <br />

    <a href=" http://localhost:49380/Lesson_Tabel/Index">Lesson</a>
    <br />

    <a href=" http://localhost:49380/Recordedbook/showfiles">Recordedbook</a>    <br />

    <a href=" http://localhost:49380/Homework/showHomeworks">Homework</a>    <br />

    <a href=" http://localhost:49380/Exam_Tabel/showExam">Exam</a>    <br />







</p>

