
@{
    ViewBag.Title = "TeachersPages";
}

<h2>TeachersPages</h2>

<a href="http://localhost:49380/ADD_Comment/Create">add notes</a><br />
<a href="http://localhost:49380/Student_Gredes/Create">add grades</a><br />
<a href="http://localhost:49380/Student_Gredes/index">show grades</a><br />

<a href="http://localhost:49380/Homework/Create">add Homework</a><br />
<a href="http://localhost:49380/Lesson_Tabel/Create">add Lesson</a><br />
<a href="http://localhost:49380/Exam_Tabel/Create">add Exam</a><br />
<a href="http://localhost:49380/solutionEs/Index">show solutionExam</a><br />
<a href="http://localhost:49380/home_work_sol/Index">show solution home work</a><br />



