
<h2>Exam </h2>
<td>@Html.ActionLink("go to EXam page", "index")</td>

<h3> choose the EXam you want to listen to!! </h3>
<table>

    <tr>
        <th>Filename</th>
        <td></td>
        <th>Link</th>
    </tr>


    @for (var i = 0; i <= Model.Count - 1; i++)
    {
        <tr>
            <td>@Model[i].ToString()</td>
            <td></td>
            <td>@Html.ActionLink("Download", "Download", new { mp3name = Model[i].ToString() })</td>



        </tr>
    }
</table>


