@model finalProject.Models.ApplicationUser
@using (Html.BeginForm())
{
    //@Html.HiddenFor(model => model.Id)
    <p>UserName:@Html.DisplayFor(model => model.UserName)</p>
    <p>PhoneNumber:@Html.DisplayFor(model => model.PhoneNumber)</p>
    <p>Email:@Html.DisplayFor(model => model.Email)</p>
    <p>Are you sure to delete it?</p>
    <input type="submit" />
}