@model finalProject.Models.ApplicationUser
@using (Html.BeginForm())
{
    // @Html.HiddenFor(model => model.Id)
    <p>UserName:@Html.EditorFor(model => model.UserName)</p>
    
    <p>Email:@Html.EditorFor(model => model.Email)</p>
    <input type="submit" />
}